extends ../layout

block head
  title Bibliografia

block content
  section
    .row
      .col-md-12.title
        h1.bibliografia Bibliografia
      .col-md-6.immagine
        img(src='images/IMG_1821.jpg', alt='nessuna immagine')
      .col-md-6.bibliografia
        ul
          li Il gruppo educativo di Mariagrazia Contini (Carocci Editore)
          br
          li Only Connect di Spiazzi Tavella (ed. Zanichelli)
          br
          li Narrant, letteratura antologia cultura latina di Diotti, Dossi e Signoracci (ed. Sei)
          br
          li Fascismo e scuola: la politica scolastica del regime di Jurgen Charnitzky (La Nuova Italia)
          br
          br
          br
          h1.finale Grazie per l'attenzione!