extends ../layout

block head
  title Home

block content
  .jumbotron
    .wrapper
      h1 il mare nei sogni
      h2 djcksjdb

    button(type='button' onClick="scrollTo('#Introduzione')").btn.btn-default#downBtn Giu

  #Introduzione.row
   .col-md-6
      h1 Introduzione
   .col-md-6
      p mhsdxjhcd

  
