extends ../layout

block head
  title Home

block content
  #carousel-example-generic.carousel.slide(data-ride='carousel')
  
    ol.carousel-indicators
      li.active(data-target='#carousel-example-generic', data-slide-to='0')
      li.active(data-target='#carousel-example-generic', data-slide-to='1')
      li.active(data-target='#carousel-example-generic', data-slide-to='2')
      li.active(data-target='#carousel-example-generic', data-slide-to='3')
      li.active(data-target='#carousel-example-generic', data-slide-to='4')
      li.active(data-target='#carousel-example-generic', data-slide-to='5')
      li.active(data-target='#carousel-example-generic', data-slide-to='6')
      li.active(data-target='#carousel-example-generic', data-slide-to='7')
      li.active(data-target='#carousel-example-generic', data-slide-to='8')

    // Wrapper for slides
    .carousel-inner(role='listbox')
        .item.active
          img(src='images/IMG_1627.jpg', alt='nessuna immagine')
          .carousel-caption

        .item
          img(src='images/IMG_0472.jpg', alt='nessuna immagine')
          .carousel-caption

        .item
           img(src='images/IMG_0484.jpg', alt='nessuna immagine')
           .carousel-caption

        .item
           img(src='images/IMG_1855.jpg', alt='nessuna immagine')
           .carousel-caption

        .item
           img(src='images/IMG_0483.jpg', alt='nessuna immagine')
           .carousel-caption

        .item
           img(src='images/IMG_1861.jpg', alt='nessuna immagine')
           .carousel-caption

        .item
           img(src='images/IMG_2381.JPG', alt='nessuna immagine')
           .carousel-caption

        .item
           img(src='images/IMG_2358.JPG', alt='nessuna immagine')
           .carousel-caption

        .item
           img(src='images/IMG_2357.JPG', alt='nessuna immagine')
           .carousel-caption

        .item
           img(src='images/imagespantere.jpg', alt='nessuna immagine')
           .carousel-caption
   
          
  // Controls
  a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    span.sr-only Previous
  a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    span.sr-only Next


  #Introduzione
   .row
     .col-md-12.title.principale
        h1.principale Il gruppo educativo
     .col-md-6.domande
        ul
          li Cos'è il setting?
          br
          li Come si deve comportare il leader?
          br
          li Esistono forze contrastanti all'interno di un gruppo?
          br
          li.casoaparte Cos'è l'anti-gruppo?
          br
          li Come si affronta per evitare che diventi una forza distuttiva?
          br
          li Come deve approcciarsi il leader a questi sottogruppi contrastanti?
     .col-md-6.risposte
        a.link(href="/inglese.html")
         p Setting, termine inglese che deriva da set, ha numerosi significati: organizzazione, stabilire, disporre... E' tutto ciò che ha a che vedere con il confine limitante e organizzativo in cui una cosa o un'attività umana viene disposta.
        a.link(href="/latino.html")
          p E' il co-pensatore, deve mantenere e promuovere la comunicazione nel grupo conciliando i bisogni diquesto e dei singoli individui. Il buon leader è quello di servizio.
        p.casoaparte In qualisiasi gruppo coesistono forze costruttive e distruttive le quali possono co-evolvere mantenendo un continuo equilibrio o una delle due può prendere il sopravvento.
        p L'anti-gruppo è una forma regressiva e distruttiva del gruppo in grado di minacciare la sua integrità, il suo sviluppo e la sua esistenza. E' presente in ogni gruppo.
        p.casoaparte Prima di tutto va riconosciuto l'anti-gruppo e le sue motivazioni intrinseche che ne giustificano il comportamento e poi debellarlo, arrivando così ad avere un atteggiamento costruttivo.
        br
        p Il leader è colui che lo affronta con più difficoltà perchè rappresenta per lui un fallimento, ma solo identificandolo ed elaborandolo potrà sconfiggerlo portandolo all'"elaborazione del lutto".