extends ../layout

block head
  title Home

block content
  .jumbotron
    img(src="./images/prima pagina.jpg")
    .wrapper
      h1 il mare nei sogni
      h2 djcksjdb

    button(type='button' onClick="scrollTo('#Introduzione')").btn.btn-default.btn-lg#downBtn
     span.glyphicon.glyphicon-arrow-down

  #Introduzione
   .row
     .col-md-6
        h1 Introduzione
     .col-md-6
        p mhsdxjhcd

  
