extends ../layout

block head
  title Inglese

block content
  section.b2
    .row
      .col-md-12.title.pagine
        h1 State child conditioning
      .col-md-6
        p.button(onClick="scrollTo('#paginaSotto')") 
      .col-md-6.inglese
        p In 2550 babies are conditioned to hate beautiful things for the whole life; in fact at eight-month-old babies are put in a room with books and roses, when they touch them flash and a violent explosion spread and all over the room with an electric shock come from the floor.
        p So they grow up hating books and flowers.
        

  