extends ../layout

block head
  title Latino

block content
  section.b1
    .row.latino
      .col-md-12.title
         h1 Quintiliano: rapporto allievo-maestro
      .col-md-6.quintiliano
          p mhsdxjhcd

  