extends ../layout

block head
  title Latino

block content
  section.b1
    .row.latino
      .col-md-12.title.pagine
         h1 Quintiliano: rapporto allievo-maestro
      .col-md-6.quintiliano
          p Il maestro non deve dare all'allievo una formazione prettamente scolastica che si limiti alle sole materie professionali, ma, al contrario,dovrebbe istruire il bambino in tutte quelle materie, scientifiche o umanistiche, che lo aiutino a sviluppare un proprio senso critico, la propria individualità perchè diventi un
          h3 VERE CIVILS VIR.
          p Inoltre, il maestro deve riconoscere durante l'apprendimento l'importanza dei momenti di riposo e di ludo.

  