extends ../layout

block head
  title Storia

block content
  section.b3
    .row
      .col-md-12.title.pagine.storia
        h1.storia La scuola fascista
      .col-md-6.storia
        p L'organizzazione precoce e l'indottrinamento delle giovani generazioni erano di vitale importanza per il regime fascista, un investimento a lunga scadenza che doveva assicurare la sopravvivenza del sistema.
        p Una delle più importanti organizzazioni giovanili era l'opera nazionale Balilla con il motto:
        h3 CREDERE, OBBEDIRE, COMBATTERE.

  