body {
 }

footer {
  background-color: black;
  color: white;
}

.jumbotron {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0;
  top:52px;
}

.jumbotron img {
  width: 100%;
  height: 100vh;
}


.jumbotron .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}

.navbar {
  margin-bottom: 0!important;
  background-color: grey!important;
  z-index: 50;
}

.navbar-brand {
  color: white!important;
}

.navbar .navbar-toggle{
  display: block!important;
  background-color: white!important;
}

.panel {
  text-align: center;
  width: 100%;
}


.navbar-nav {
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: #F8F8F8;
}

.navbar-nav li{
 display:block;
 width: 100%;
 text-align: center;
}

.row {
  height: 500px;
  text-align: center
}

.carousel {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0;
  top:52px;
}

.carousel img { 
  width:100%
}


.carousel p {
  font-size: 80px;
}

#downBtn {
  position: absolute;
  top:75%;
  left: 90%;
}

#Introduzione {
  position: relative;
  margin-top: 100vh;
}

h1.principale{
  margin-top: 10px;
  color: pink!important;
  font-size: 60px;
  }

h1{
  color: white!important;
  margin-top: 10px;
  font-size: 60px;
}

p {
  margin-top: 10px;
  font-size: 16px;
  }
li {
    margin-top: 10px;
    font-size: 25px;
}

.col-md-12.title.principale {
  border-bottom: 2.5px solid pink;
  margin-top: 150px!important;
}

.col-md-12.title {
  border-bottom: 2.5px solid pink;
}

.col-md-12.title.pagine {
  color: white!important;
  border-bottom: 2.5px solid white;
}

.col-md-6.domande {
  margin-top: 20px;
  margin-bottom: 30px;
  font-style: italic;
}

.col-md-6.risposte {
  margin-top: 20px;
  margin-bottom: 30px;
}

.link {
  color: black;
}

.b1 {
  background-image: url('images/imageslatino.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.row.latino {
  height: 800px;
}

.col-md-6.quintiliano {
  color: black;
  margin-top: 60px;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  opacity: 0.7;
}

.b2 {
  height: 100vh;
  background-image: url('images/imagesinglese.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.col-md-6.inglese {
  color: white;
  margin-top: 380px;
  background-color: black;
  margin-left: 620px;
  margin-right: 50px;
  opacity: 0.7;
}

p.button {
  color: black;
  background-color: white;
  margin-left: 300px;
  margin-right: 50px;
}

.b3 {
  height: 100vh;
  background-image: url('images/imagesstoria.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.col-md-12.title.pagine.storia{
  background-color: black;
  opacity: 0.8;
}

.col-md-6.storia{
  color: black;
  margin-top: 380px;
  background-color: white;
  margin-left: 50px;
  margin-right: 620px;
  opacity: 0.8;
}

h1.bibliografia{
  color: pink!important;
}

.col-md-6.bibliografia {
  margin-top: 30px;
}

h1.finale{
  color: pink!important;
  text-decoration: underline;
}

p.casoaparte {
  margin-top: 20px;
}

li.casoaparte {
  padding-top: 5px;
}

p.casoaparte2 {
  margin-top: 30px!important;
}