nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href="#") Esame di stato 1017. Tesina di Veronica Bonacini
    button.navbar-toggle(data-toggle="collapse" href="#collapse1")
       span.sr-only Toggle navigation
       span.icon-bar
       span.icon-bar
       span.icon-bar        

#collapse1.panel-collapse.collapse
  ul.nav.navbar-nav
    li 
      a(href="/index.html")  Il gruppo educativo
    li
      a(href="/filosofia.html") Filosofia
    li
      a(href="/storia.html") Storia
    li
      a(href="/latino.html") Latino
    li
      a(href="/inglese.html") Inglese
    li
      a(href="/video.html") Video 


  
    