nav.navbar.navbar-default
  .container-fluid
    .navbar-header
  button.navbar-toggle(data-toggle="collapse" href="#collapse1")
       span.sr-only Toggle navigation
       span.icon-bar
       span.icon-bar
       span.icon-bar        

#collapse1.panel-collapse.collapse
  ul.nav.navbar-nav
    li 
      a(href="#" onClick="scrollTo('#Introduzione')")  Introduzione 
    li
      a(href="") Sigmund Freud
    li
      a(href="") Renée Magritte
    li
      a(href="") Eugenio Montale
    li
      a(href="") James Joyce
    li
      a(href="") Sitografia 


  
    